
#container1 {
    direction:rtl;
    width:900px;
    height:400px;
    background-color: rgba(9, 8, 8, 0.1);
    border:5px #EBEBEB solid;
    border-radius:10px;
}
#smh {
    display:block;
    margin-bottom:10px;
    margin-right:250px;
}
.text {
    color:rgb(30, 166, 211);
    font-size: 25px;
    padding-top:20px;
    text-shadow: 1px 1px 1px rgb(12, 57, 232);
    margin-right:350px;
    margin-bottom:50px;
}
#title {
    margin-bottom: 50px;
    padding-top:20px;
}
.text1 {
    color:#00B4FF;
    font-size: 25px;
    padding-right: 45px;
}
#smh1 {
   height:100px; 
   margin-right:250px;
}
.control {
  width: 10%;
  height: 50px;
  margin-right:10px;
  border: none;
  padding: 5px 20px 5px 15px;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size:20px;
  float:right;
}
.control:focus, .control:focus + .fa {
  border-color:#00B4FF;
  color:#00B4FF;
  transition-duration:0.5s;
}
#btn {
    display:block;
    margin-right: 370px;
}
.text2 {
    color:#00B4FF;
    font-size: 25px;
    padding-right: 75px;
    padding-bottom:-10px;
}
#a {
    display: block;
    margin-right: 250px;
}